<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Precios de envio</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>


<!-- ngSubmit es un enlace de evento para escuchar el envío del formulario y llamar al onSubmit() con el valor checkoutForm. -->

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Nombre </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address"> Direccion </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Pagar</button>
</form>
